.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
doc/api
doc/app
db/*.sqlite3
*.swp
*.swo
*[˜]
.DS_Store
*.erb~
public/system
*rb~
*js~
.gems~
.gitignore~
.rb#
db/schema.rb
config/database.yml
nbproject
spec/ruby
