	
	<%= stylesheet_link_tag 'kwicks', :media => 'screen' %> 
	<%= stylesheet_link_tag 'ddsmoothmenu', :media => 'screen' %> 
  
  <script src="/javascripts/fadeinout.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.ddsmoothmenu.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.easing.1.3.html.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.kwicks-1.5.1.pack.js" type="text/javascript"></script>  
   <script src="/javascripts/kwicks-custom.js" type="text/javascript"></script>
  
  
  <div id="understand-sidebar" class="rounded-10" style="left: 0px; top: 0px">
            	<div id="submenu-box"  class="bullet"><h2>Threats</h2>
                    <div id="submenu-wrapper" class="rounded-10">
                    	<ul id="submenu">
                       		<li><a href="/understandthreats/poaching" title="">Poaching</a></li>
                       		<li><a href="/understandthreats/frag" title="">Fragmentation</a></li>
                       		<li><a href="/understandthreats/fire" title="">Forest Fires</a></li>                        
                        	<li><a href="/understandthreats/conflict" title="">Human-Wildlife Conflict</a></li>
                        	<li><a href="/understandthreats/grazing" title="">Livestock Grazing</a></li>
                        	<li><a href="/understandthreats/mining" title="">Mining</a></li>
                        	<li><a href="/understandthreats/NTFP" title="">NTFP</a></li>
                        	<li><a href="/understandthreats/roadKills" title="">Road Kills</a></li>
                        	<li><a href="/understandthreats/smuggling" title="">Timber Smuggling</a></li>
                        	<li><a href="/understandthreats/tourism" title="">Excessive Tourism</a></li>
                        	<li><a href="/understandthreats/others" title="">Others</a></li>                        
                    	</ul>
					</div><!-- #contact (end) -->
                 </div><!-- #contact-box (end) -->
                    
                    <div id="understand-display-box">
                    	<h2>Forest Fires</h2>
                		<div id="understand-display" class="rounded-10">
                		
                		
                			<div class="container">			
	<ul class="kwicks horizontal" >				<!-- Item One -->				
	<li id="kwickblock1">					
		<div>						<!-- Dropshadow PNG thorugh CSS -->						
			<div class="kwickshadow"></div>						<!-- Featured Image one -->						
			<a href="#"><img class="slideimage" src="../images/Fire1.jpg" alt="First Image" /></a>						<!-- Mini Caption when slide closed -->	
			<p class="slide-minicaption">							
				<span class="slide-minicaptiontitle">1</span>						
			</p>												<!-- Big Caption on Hover -->	
			<p class="slidecaption">							
				<span class="slidecaptiontitle">								
					<a href="#">Ground fires</a>							
				</span>							
				<a href="#">Ground fires destroy all secondary vegetation and seeds on the forest floor affecting plant regeneration
				</a>						
			</p>											
		</div>				
	</li>				<!-- Item End -->				<!-- Item Start - Refer to first item for explanation -->				
	<li id="kwickblock2">					
		<div>						
			<div class="kwickshadow"></div>											
			<a href="#"><img class="slideimage" src="../images/Fire2.jpg" alt="Second Image" /></a>												
			<p class="slide-minicaption">							
				<span class="slide-minicaptiontitle">2							
				</span>						
			</p>																		
			<p class="slidecaption">							
				<span class="slidecaptiontitle">								
					<a href="#">Fires in grasslands</a>							
				</span>							
				<a href="#">Ground fires destroy thousands of acres of natural grasslands in the western ghats instantly killing all slow moving animals</a>
			</p>										
		</div>				
	</li>				<!-- Item End -->				<!-- Item Start - Refer to first item for explanation -->				
	<li id="kwickblock3">					
		<div>						
			<div class="kwickshadow"></div>											
				<a href="#">
					<img class="slideimage" src="../images/Fire3.jpg" alt="Third Image" />
				</a>											
				<p class="slide-minicaption">							
					<span class="slide-minicaptiontitle">3							
					</span>						
				</p>																		
				<p class="slidecaption">							
					<span class="slidecaptiontitle">								
						<a href="#">Forest fires</a>							
					</span>							
					<a href="#">Forest fires destroy thousands of acres of natural forests every year
					</a>
				</p>											
			</div>				
	</li>				<!-- Item End -->				<!-- Item Start - Refer to first item for explanation -->				
	<li id="kwickblock4">					
		<div>	
<div class="kwickshadow"></div>				
			<a href="#">
				<img class="slideimage" src="../images/Fire4.jpg" alt="Fourth Image" /></a>
					<p class="slide-minicaption">							
						<span class="slide-minicaptiontitle">4						
						</span>
					</p>																	
					<p class="slidecaption">							
						<span class="slidecaptiontitle">								
							<a href="#">Destruction of large trees</a>							
						</span>							
						<a href="#">Several large living trees are killed as ground fires burn the tree from inside
						</a>
					</p>											
		</div>				
	</li>				<!-- Item End -->			
	<li id="kwickblock5">					
		<div>		
<div class="kwickshadow"></div>				
			<a href="#">
				<img class="slideimage" src="../images/Fire5.jpg" alt="Fifth Image" /></a>
					<p class="slide-minicaption">							
						<span class="slide-minicaptiontitle">5							
						</span>
					</p>																	
					<p class="slidecaption">							
						<span class="slidecaptiontitle">								
							<a href="#"></a>							
						</span>							
						<a href="#">Man made fires kill all vegetation including humus leaving the area bereft of any life</a>
					</p>											
		</div>				
	</li>
	<li id="kwickblock6">					
		<div>		
<div class="kwickshadow"></div>				
			<a href="#">
				<img class="slideimage" src="../images/Fire6.jpg" alt="Sixth Image" /></a>
					<p class="slide-minicaption">							
						<span class="slide-minicaptiontitle">6							
						</span>
					</p>																	
					<p class="slidecaption">							
						<span class="slidecaptiontitle">								
							<a href="#">Fire mismanagement</a>							
						</span>							
						<a href="#">Mitigation measures such as burning along road edges need to be carefully monitored or else they spread setting fire to the entire forest areas</a>
					</p>											
		</div>				
	</li>
</ul>		
</div><div class="clear"></div>		<!-- End of Featured Block -->		
                			
                			
                			<p>
                				<span style="font-size:x-large"><b><a>C</a></b></span>ontrary to the popular belief that forest fires are natural, in India they are entirely anthropogenic. Forest fires are one of the major threats to wildlife. Ground fires burn down useful wildlife herbivore forage creating shortage of food for species such as elephant, gaur, sambar, chital, pig and other herbivores. This encourages wild herbivores to raid crops and increase human-wildlife conflict. Fires replace edible plant species with inedible exotic species like Chromolaena, Parthenium and Lantana further reducing food availability for wild herbivores
                			</p>
                			<p>
Fires destroy seedlings affecting regeneration of native plant species. Millions of seeds on forest floor shed by plants and trees waiting for rains to sprout are destroyed by fires. Forests that are continuously affected by fires it is common to see mature trees and none or very few saplings. Fires also increase the growth of fire hardy plant species such as Anogeisus latifolia (Dhaura), Cassia fistula (Indian Leburnum) affecting the diversity and floral composition of the area as seen in some parts of Bandipur Tiger Reserve. Forest fires also kill small and slow moving species destroying scores of birds, mammals, reptiles, insects and other micro organisms.
                			</p>
                			<p>
There are several reasons for forest fires. They are set by cattle graziers in the hope of new flush of grass for livestock. Collectors of Non-Timber Forest Produce (NTFP) such as deer antlers set forests on fire so that it would aid their visibility in collecting the required produce which would otherwise be very difficult to spot in the dense undergrowth. Honey collectors in their urgency to smoke out bees from the hives, collectors of Dhoop (Viteria indica) are all sources of forest fires that are set either intentionally or negligently.
                			</p>
                			<p>
                				During dry seasons poachers and timber smugglers in their vindictive desire to settle scores with forest department staff also set forests on fires. Devastating fires have also been sparked by careless tourists or villagers discarding beedi and cigarette butts. Negligence by forest staff while burning of fire lines in the forest is also one of the reasons for forest fires.
                			</p>
							<p>
							*Please note that some images in this page are graphic in nature
                			</p>
                    	</div>
          			</div> <!-- #submit-map-display (end) -->    
          			           
				</div><!-- #submit report (end) -->