	
	<%= stylesheet_link_tag 'kwicks', :media => 'screen' %> 
	<%= stylesheet_link_tag 'ddsmoothmenu', :media => 'screen' %> 
  
  
  <script src="/javascripts/fadeinout.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.ddsmoothmenu.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.easing.1.3.html.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.kwicks-1.5.1.pack.js" type="text/javascript"></script>  
   <script src="/javascripts/kwicks-custom.js" type="text/javascript"></script>
  
  
  <div id="understand-sidebar" class="rounded-10" style="left: 0px; top: 0px">
            	<div id="submenu-box"  class="bullet"><h2>Threats</h2>
                    <div id="submenu-wrapper" class="rounded-10">
                    	<ul id="submenu">
                       		<li><a href="/understandthreats/poaching" title="">Poaching</a></li>
                       		<li><a href="/understandthreats/frag" title="">Fragmentation</a></li>
                       		<li><a href="/understandthreats/fire" title="">Forest Fires</a></li>                        
                        	<li><a href="/understandthreats/conflict" title="">Human-Wildlife Conflict</a></li>
                        	<li><a href="/understandthreats/grazing" title="">Livestock Grazing</a></li>
                        	<li><a href="/understandthreats/mining" title="">Mining</a></li>
                        	<li><a href="/understandthreats/NTFP" title="">NTFP</a></li>
                        	<li><a href="/understandthreats/roadKills" title="">Road Kills</a></li>
                        	<li><a href="/understandthreats/smuggling" title="">Timber Smuggling</a></li>
                        	<li><a href="/understandthreats/tourism" title="">Excessive Tourism</a></li>
                        	<li><a href="/understandthreats/others" title="">Others</a></li>                        
                    	</ul>
					</div><!-- #contact (end) -->
                 </div><!-- #contact-box (end) -->
                    
                    <div id="understand-display-box">
                    	<h2>Fragmentation</h2>
                		<div id="understand-display" class="rounded-10">
                		
                		
                			<div class="container">			
	<ul class="kwicks horizontal" >				<!-- Item One -->				
	<li id="kwickblock1">					
		<div>						<!-- Dropshadow PNG thorugh CSS -->						
			<div class="kwickshadow"></div>						<!-- Featured Image one -->						
			<a href="#"><img class="slideimage" src="../images/Fragmentation4.JPG" alt="First Image" /></a>						<!-- Mini Caption when slide closed -->	
			<p class="slide-minicaption">							
				<span class="slide-minicaptiontitle">1</span>						
			</p>												<!-- Big Caption on Hover -->	
			<p class="slidecaption">							
				<span class="slidecaptiontitle">								
					<a href="#">Forest fragments amongst tea plantations</a>							
				</span>							
				<a href="#">Large-scale forest clearance has taken place for agriculture and plantation</a>						
			</p>											
		</div>				
	</li>				<!-- Item End -->				<!-- Item Start - Refer to first item for explanation -->				
	<li id="kwickblock2">					
		<div>						
			<div class="kwickshadow"></div>											
			<a href="#"><img class="slideimage" src="../images/Fragmentation6.jpg" alt="Second Image" /></a>												
			<p class="slide-minicaption">							
				<span class="slide-minicaptiontitle">2							
				</span>						
			</p>																		
			<p class="slidecaption">							
				<span class="slidecaptiontitle">								
					<a href="#">No Content</a>							
				</span>							
				<a href="#"></a>
			</p>										
		</div>				
	</li>				<!-- Item End -->				<!-- Item Start - Refer to first item for explanation -->				
	<li id="kwickblock3">					
		<div>						
			<div class="kwickshadow"></div>											
				<a href="#">
					<img class="slideimage" src="../images/Fragmentation3.jpg" alt="Third Image" />
				</a>											
				<p class="slide-minicaption">							
					<span class="slide-minicaptiontitle">3							
					</span>						
				</p>																		
				<p class="slidecaption">							
					<span class="slidecaptiontitle">								
						<a href="#"></a>							
					</span>							
					<a href="#">Old roads are now being upgraded as highways causing irreparable damage to forests and increasing threat of roadkills</a>
				</p>											
			</div>				
	</li>				<!-- Item End -->				<!-- Item Start - Refer to first item for explanation -->				
	<li id="kwickblock4">					
		<div>			
<div class="kwickshadow"></div>				
			<a href="#">
				<img class="slideimage" src="../images/Fragmentation5.jpg" alt="Fourth Image" /></a>
					<p class="slide-minicaption">							
						<span class="slide-minicaptiontitle">4					
						</span>
					</p>																
					<p class="slidecaption">							
						<span class="slidecaptiontitle">								
							<a href="#">No Content</a>							
						</span>							
						<a href="#"></a>
					</p>											
		</div>				
	</li>				<!-- Item End -->			
	<li id="kwickblock5">					
		<div>	
<div class="kwickshadow"></div>				
			<a href="#">
				<img class="slideimage" src="../images/Fragmentation2.jpg" alt="Fifth Image" /></a>
					<p class="slide-minicaption">							
						<span class="slide-minicaptiontitle">5							
						</span>
					</p>																	
					<p class="slidecaption">							
						<span class="slidecaptiontitle">								
							<a href="#"></a>							
						</span>							
						<a href="#">Roads passing through protected areas should be realigned to pass outside rather than upgrading</a>
					</p>											
		</div>				
	</li>
	<li id="kwickblock6">					
		<div>	
<div class="kwickshadow"></div>				
			<a href="#">
				<img class="slideimage" src="../images/Fragmentation1.jpg" alt="Sixth Image" /></a>
					<p class="slide-minicaption">							
						<span class="slide-minicaptiontitle">6						
						</span>
					</p>																	
					<p class="slidecaption">							
						<span class="slidecaptiontitle">								
							<a href="#"></a>							
						</span>							
						<a href="#">'Green energy' initiatives such as mini-hydel projects are built in the eco-sensitive Western Ghats with no serious thoughts to the fragmentation it causes to forests</a>
					</p>											
		</div>				
	</li>
</ul>		
</div><div class="clear"></div>		<!-- End of Featured Block -->		
                			
                			
                			<p>
                				<span style="font-size:x-large"><b><a>F</a></b></span>ragmentation of forests has been scientifically proven to be one of the biggest threats to wildlife. Especially to habitat specialist and large vertebrates that require vast stretches of undisturbed forests for dietary habits and home ranges essential for their survival. Tiger, elephant, wild dog, lion tailed-macaque, great pied hornbill and several other vibrant species have been pushed to the endangerment due to habitat loss and fragmentation.  Fragmentation of forests happens due to various developmental projects and expansion of agricultural activities. Clearing of forests for developmental activities such as dams, mines, roads, highways, railway lines, canals, windmills, and mini- hydel projects are some of the significant reasons that cause fragmentation.
                			</p>
                			<p>
                				<b> Large-scale forest loss</b><br>
								Dams and mines cause large scale habitat loss. Dams submerge vast forest areas cutting several wildlife corridors which are crucial for sustenance of wildlife populations. Dams and mining activities also bring in new human settlements for project maintenance, such as roads and other infrastructural facilities that pose a serious threat to wildlife. Kabini reservoir has cut movement corridors for wildlife between Nagarahole and Bandipur Tiger Reserves along with submergence of over 30,000 acres of prime wildlife habitat. Similarly, the mine located in the heart of Kudremukh National Park caused irreparable damage due to destruction of large areas of forests and endangering the habitat of the lion-tailed macaque.
                			</p>
                			<p>
                				<b> Linear fragmentation </b><br>
Linear fragmentation causes such as roads, railwaylines, power transmission lines and canals breaks forest contiguity, with some animal getting isolated affecting the genetic diversity of the species. Roadkills due to fast moving vehicles and trains is the most obvious impact of roads and railway lines through forests. Tree dwelling wildlife such as lion-tailed macaque, giant squirrel, and flying squirrel would be unable to move to different patches of forests as roads and railway lines break tree canopy continuity affecting their range for foraging food.  Roads also alter the physical environment, help in spread of exotic plant species and increases passive harassment of animals. Formation of roads in forests also increases other threats such as poaching and timber smuggling. They also have a significant impact on wildlife behaviour, survival and movement of animals by acting as physical barriers. 
    			</p>
                			<p>
                				<b> Green-threats: Mini-hydel projects and Windmills </b><br>
Termed as 'eco friendly', these projects though being environment friendly can be a cause of concern if located in ecologically fragile habitat. They cause fragmentation and brings in several other problems related to fragmentation. New roads are formed to set up these projects, transmission poles are erected to carry electric power, and human settlements are brought into remote forest areas all of which necessitate cutting down of forests further isolating wildlife habitats.
                			</p>
							<p>
							*Please note that some images in this page are graphic in nature
                			</p>
                			
                    	</div>
          			</div> <!-- #submit-map-display (end) -->    
          			           
				</div><!-- #submit report (end) -->