<div id="understand-sidebar" class="rounded-10">
  <div id="submenu-box" class="bullet">
    <div id="submenu-wrapper" class="rounded-10">
      <ul id="submenu">
	<li><a href="understandthreats/poaching" title="">Poaching</a></li>
	<li><a href="understandthreats/cattle" title="">Cattle in Parks</a></li>
	<li><a href="understandthreats/posioning" title="">Wildlife Poisoning</a></li>                        
	<li><a href="understandthreats/IlleagalActivities" title="">Illegal Activities</a></li>
	<li><a href="understandthreats/WildLifeTrade" title="">Wildlife Trade</a></li>
	<li><a href="understandthreats/roadkill" title="">Roadkill</a></li>
	<li><a href="understandthreats/fireinparks" title="">Fire in Parks</a></li>
	<li><a href="understandthreats/bushmeat" title="">Bush Meat</a></li>
	<li><a href="understandthreats/mining" title="">Mining in Parks</a></li>
	<li><a href="understandthreats/tourism" title="">Illegal Tourism</a></li>
	<li><a href="understandthreats/others" title="">Others</a></li>                        
      </ul>
    </div>
    <div id="submenu-wrapper" class="rounded-10">
      <ul id="submenu">
        <li>
          <div class="slidecaption">
            Blog badges - If you have a blog/website and want to support conservationthreats.org, copy and paste the below html snippet into your website. Alternately you could refer the image below and add a link your blog. Champion the effort and save wild life.
          </div>
          <a href="http://conservationthreats.org" target="_blank"><%= image_tag("support_conservation.png")%></a>
          <textarea class="badge" target="_blank" >&lt;a href="http://conservationthreats.org"&gt;&lt;img src="http://conservationthreats.org/images/support_conservation.png" alt="I support conservationthreats.org. Report a threat and save wildlife."&gt;&lt;/a&gt;</textarea>
        </li>
      </ul>
    </div>
  </div>
  
  <div id="understand-display-box">
    <div id="understand-display" class="rounded-10">
      <div class="container">			
	<ul class="kwicks horizontal">
	  <li id="kwickblock1">
	    <div>		
	      <div class="kwickshadow"></div>
	      <a href="http://www.foxdart.com/conservation/understand.html#">
		<img class="slideimage" src="./Understand Threatsw_files/Poaching1.jpg" alt="First Image"  />
	      </a>			
	      <p class="slide-minicaption" >
		<span class="slide-minicaptiontitle">1</span>						
	      </p>											
	      <p class="slidecaption" >							
		<span class="slidecaptiontitle" >								
		  <a href="http://www.foxdart.com/conservation/understand.html#">Deer Meat</a>
		</span>							
		<a href="http://www.foxdart.com/conservation/understand.html#">
		  High meat yielding large-bodied ungulates and primates are the principal targets of local poaching.
		</a>						
	      </p>											
	    </div>				
	  </li>			
	  <li id="kwickblock2" >
	    <div>						
	      <div class="kwickshadow"></div>											
	      <a href="http://www.foxdart.com/conservation/understand.html#">
		<img class="slideimage" src="./Understand Threats_files/Poaching2.jpg" alt="Second Image" />
	      </a>												
	      <p class="slide-minicaption">							
		<span class="slide-minicaptiontitle">2							
		</span>						
	      </p>															
	      <p class="slidecaption">							
		<span class="slidecaptiontitle">								
		  <a href="http://www.foxdart.com/conservation/understand.html#">Leopard Snared 
		  </a>			
		</span>							
		<a href="http://www.foxdart.com/conservation/understand.html#">
		  Snares are set on forest paths regularly used by animals to hunt herbivores but sometimes leopards also get caught
		  and die in snares.
		</a>
	      </p>										
	    </div>				
	  </li>				
	  <li id="kwickblock3" >
	    <div>						
	      <div class="kwickshadow"></div>											
	      <a href="http://www.foxdart.com/conservation/understand.html#">
		<img class="slideimage" src="./Understand Threats_files/Poaching3.jpg" alt="Third Image" />
	      </a>											
	      <p class="slide-minicaption" >
		<span class="slide-minicaptiontitle">3							
		</span>						
	      </p>															
	      <p class="slidecaption" >
		<span class="slidecaptiontitle" >
		  <a href="http://www.foxdart.com/conservation/understand.html#">Tiger Skin</a>						
		</span>							
		<a href="http://www.foxdart.com/conservation/understand.html#">
		    Tigers are hunted to meet the demand of high value wildlife products such as skin, nails, bone to cater the 
		    international trade market. .
		</a>
	      </p>											
	    </div>				
	  </li>
	  <li id="kwickblock4">
	    <div>											
	      <a href="http://www.foxdart.com/conservation/understand.html#">
		<img class="slideimage" src="./Understand Threats_files/Poaching4.jpg" alt="Fourth Image" />
	      </a>
	      <p class="slide-minicaption">
		<span class="slide-minicaptiontitle">4						
		</span>
	      </p>															
	      <p class="slidecaption" >
		<span class="slidecaptiontitle" >
		  <a href="http://www.foxdart.com/conservation/understand.html#">Elephant Tusks</a>				
		</span>							
		<a href="http://www.foxdart.com/conservation/understand.html#">
		  Elephants are killed for there tusks which yeild high value in international market as well. 
		</a>
	      </p>											
	    </div>				
	  </li>			
	  <li id="kwickblock5">
	    <div>											
	      <a href="http://www.foxdart.com/conservation/understand.html#">
		<img class="slideimage" src="./Understand Threats_files/Poaching5.jpg" alt="Fifth Image" />
	      </a>
	      <p class="slide-minicaption" >
		<span class="slide-minicaptiontitle" >
		</span>
	      </p>															
	      <p class="slidecaption" >
		<span class="slidecaptiontitle">
		  <a href="http://www.foxdart.com/conservation/understand.html#">Deer skin and meat</a>				
		</span>							
		<a href="http://www.foxdart.com/conservation/understand.html#">
		  Hunting of herbivores has a direct affect on carnivores numbers as they are directly dependent on them for food..
		</a>
	      </p>											
	    </div>				
	  </li>
	  <li id="kwickblock6" >
	    <div>											
	      <a href="http://www.foxdart.com/conservation/understand.html#">
		<img class="slideimage" src="./Understand Threats_files/Poaching6.jpg" alt="Sixth Image" />
	      </a>
	      <p class="slide-minicaption" style="display: block; opacity: 0.8; ">							
		<span class="slide-minicaptiontitle" style="display: block; ">6							
		</span>
	      </p>															
	      <p class="slidecaption" style="display: block; opacity: 0; ">							
		<span class="slidecaptiontitle" style="display: block; ">								
		  <a href="http://www.foxdart.com/conservation/understand.html#">Monitot Lizard</a>		
		</span>							
		<a href="http://www.foxdart.com/conservation/understand.html#">
		  Telephone wires and motor bike cables are used snares, the most popular tool for hunting.
		</a>
	      </p>											
	    </div>				
	  </li>
	</ul>		
	</div>
	<div class="clear"></div>	
	<p>
	  Poaching is the principal threat to wildlife 
	  after habitat fragmentation. It prevails due to 
	  local venison consumption and use of organs and 
	  other body parts for traditional medicine. 
	  Tigers, elephants and leopards are hunted to 
	  meet the demand of high value wildlife products 
	  such as skin, nails, bone and tusk to cater to 
	  the international trade market.
	</p>
	<p>
	  High meat yielding large-bodied ungulates and 
	  primates are the principal targets of local 
	  poaching. Spotted deer, sambar, muntjacs 
	  (barking deer), chevrotian (mouse deer), wild 
	  pig, gaur, and smaller mammals such as giant 
	  squirrel, porcupine, pangolin, civet are regular 
	  targets of local poachers. Birds like pigeons, 
	  hornbills, and peafowl are also not spared. The 
	  impacts of poaching are ruinous. It is a threat 
	  that direct reduces the number of animals in an 
	  area and several species could be locally 
	  stamped out due to poaching. Hunting of 
	  herbivores has a direct affect on carnivores 
	  numbers as they are directly dependent on them 
	  for food.
	</p>
	<p>
	  Poachers use telephone wires and motor bike 
	  cables as snares, the most popular tool for 
	  hunting, that are set on forest paths regularly 
	  used by animals. Snares are effectively used for 
	  hunting spotted deer, sambar, barking deer, 
	  mouse deer, wild pigs and other herbivores. 
	  Often large, critically endangered animals like 
	  tigers and leopards also get caught and die in 
	  snares. Use of locally made firearms is another 
	  popular form of hunting. Though many people do 
	  not own a firearm, they are borrowed from others 
	  with whom they share the bounty for lending 
	  shotguns. Smoking out species such as 
	  porcupines, pangolins out of resting burrows, 
	  baited explosives are used to hunt pigs, beating 
	  of drums and hunting dogs are engaged to corner 
	  and hunt muntjac, wild boars and blacknaped 
	  hares are all common hunting practices. Poisoned 
	  water placed in broken earthen pots is used to 
	  kill wildlife and large carnivores that threaten 
	  livestock are poisoned to be eliminated. Water 
	  holes, fruiting trees and croplands bordering 
	  forests are favourite spots for hunting 
	  wildlife.
	</p>
	<p>
	  Jaw traps are laid to hunt large carnivores like 
	  tigers which have high value in the 
	  international bone and skin trade market. The 
	  use of jaw traps is prevalent in north India. 
	  Once caught in jaw traps they are beaten with 
	  clubs or speared through the mouth death to 
	  obtain undamaged pelts.
	</p>
	
      </div>
    </div> 
  </div>
</div>
