	
	<%= stylesheet_link_tag 'kwicks', :media => 'screen' %> 
	<%= stylesheet_link_tag 'ddsmoothmenu', :media => 'screen' %> 
  
  
  <script src="/javascripts/fadeinout.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.ddsmoothmenu.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.easing.1.3.html.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.kwicks-1.5.1.pack.js" type="text/javascript"></script>  
   <script src="/javascripts/kwicks-custom.js" type="text/javascript"></script>
  
  
  <div id="understand-sidebar" class="rounded-10" style="left: 0px; top: 0px">
            	<div id="submenu-box"  class="bullet"><h2>Threats</h2>
                    <div id="submenu-wrapper" class="rounded-10">
                    	<ul id="submenu">
                       		<li><a href="/understandthreats/poaching" title="">Poaching</a></li>
                       		<li><a href="/understandthreats/frag" title="">Fragmentation</a></li>
                       		<li><a href="/understandthreats/fire" title="">Forest Fires</a></li>                        
                        	<li><a href="/understandthreats/conflict" title="">Human-Wildlife Conflict</a></li>
                        	<li><a href="/understandthreats/grazing" title="">Livestock Grazing</a></li>
                        	<li><a href="/understandthreats/mining" title="">Mining</a></li>
                        	<li><a href="/understandthreats/NTFP" title="">NTFP</a></li>
                        	<li><a href="/understandthreats/roadKills" title="">Road Kills</a></li>
                        	<li><a href="/understandthreats/smuggling" title="">Timber Smuggling</a></li>
                        	<li><a href="/understandthreats/tourism" title="">Excessive Tourism</a></li>
                        	<li><a href="/understandthreats/others" title="">Others</a></li>                        
                    	</ul>
					</div><!-- #contact (end) -->
                 </div><!-- #contact-box (end) -->
                    
                    <div id="understand-display-box">
                    	<h2>Others</h2>
                		<div id="understand-display" class="rounded-10">
                		
                		
                			<div class="container">			
	<ul class="kwicks horizontal" >				<!-- Item One -->				
	<li id="kwickblock1">					
		<div>						<!-- Dropshadow PNG thorugh CSS -->						
			<div class="kwickshadow"></div>						<!-- Featured Image one -->						
			<a href="#"><img class="slideimage" src="../images/Others1.jpg" alt="First Image" /></a>						<!-- Mini Caption when slide closed -->	
			<p class="slide-minicaption">							
				<span class="slide-minicaptiontitle">1</span>						
			</p>												<!-- Big Caption on Hover -->	
			<p class="slidecaption">							
				<span class="slidecaptiontitle">								
					<a href="#"></a>							
				</span>							
				<a href="#">Management of protected areas needs a wildlife focus. Water harvesting pits are dug in high rainfall areas</a>						
			</p>											
		</div>				
	</li>				<!-- Item End -->				<!-- Item Start - Refer to first item for explanation -->				
	<li id="kwickblock2">					
		<div>						
			<div class="kwickshadow"></div>											
			<a href="#"><img class="slideimage" src="../images/Others2.jpg" alt="Second Image" /></a>												
			<p class="slide-minicaption">							
				<span class="slide-minicaptiontitle">2							
				</span>						
			</p>																		
			<p class="slidecaption">							
				<span class="slidecaptiontitle">								
					<a href="#"></a>							
				</span>							
				<a href="#">Native secondary vegetation (saplings, shrubs) are all removed in the name of weed removal</a>
			</p>										
		</div>				
	</li>				<!-- Item End -->				<!-- Item Start - Refer to first item for explanation -->				
	<li id="kwickblock3">					
		<div>						
			<div class="kwickshadow"></div>											
				<a href="#">
					<img class="slideimage" src="../images/Others3.jpg" alt="Third Image" />
				</a>											
				<p class="slide-minicaption">							
					<span class="slide-minicaptiontitle">3							
					</span>						
				</p>																		
				<p class="slidecaption">							
					<span class="slidecaptiontitle">								
						<a href="#"></a>							
					</span>							
					<a href="#">Even to this natural grasslands in the Western Ghats are planted with exotic tree species such as Acacia as seen in this picture</a>
				</p>											
			</div>				
	</li>				<!-- Item End -->				<!-- Item Start - Refer to first item for explanation -->				
	<li id="kwickblock4">					
		<div>		
<div class="kwickshadow"></div>				
			<a href="#">
				<img class="slideimage" src="../images/Others4.jpg" alt="Fourth Image" /></a>
					<p class="slide-minicaption">							
						<span class="slide-minicaptiontitle">4						
						</span>
					</p>																	
					<p class="slidecaption">							
						<span class="slidecaptiontitle">								
							<a href="#"></a>							
						</span>							
						<a href="#">natural grasslands are important grazing grounds for herbivores such as gaur especially during summer as it retains high moisture content. Planting of grasslands with either exotic or local tree species should not be carried out</a>
					</p>											
		</div>				
	</li>				<!-- Item End -->			
	<li id="kwickblock5">					
		<div>	
<div class="kwickshadow"></div>				
			<a href="#">
				<img class="slideimage" src="../images/Others5.jpg" alt="Fifth Image" /></a>
					<p class="slide-minicaption">							
						<span class="slide-minicaptiontitle">5							
						</span>
					</p>																	
					<p class="slidecaption">							
						<span class="slidecaptiontitle">								
							<a href="#"></a>							
						</span>							
						<a href="#">More and more roads are built within wildlife habitats for tourism</a>
					</p>											
		</div>				
	</li>
	<li id="kwickblock6">					
		<div>	
<div class="kwickshadow"></div>				
			<a href="#">
				<img class="slideimage" src="../images/Others6.jpg" alt="Sixth Image" /></a>
					<p class="slide-minicaption">							
						<span class="slide-minicaptiontitle">6							
						</span>
					</p>																	
					<p class="slidecaption">							
						<span class="slidecaptiontitle">								
							<a href="#"></a>							
						</span>							
						<a href="#">Dumping of garbage in protected areas will bring in communicable diseases for wildlife</a>
					</p>											
		</div>				
	</li>
</ul>		
</div><div class="clear"></div>		<!-- End of Featured Block -->		
                			
                			
                			<p>
                				<span style="font-size:x-large"><b><a>S</a></b></span>ome threats are not as obvious as the others listed in this website and are either new in nature or due to lack of understanding of wildlife management. </p>
<p>The sole focus of managing protected areas should be for wildlife conservation. However several decisions which are not in tune with the needs of wildlife are carried out. For instance thousands of water harvesting pits are dug in forests in the name of 'habitat improvement'. One of the primary natural ecosystem services provided by forests (trees) is to hold water and release in the form of streams. Hence these artificial structures are not required in forests. 
Exotic tree species are planted in natural grasslands of the Western Ghats. This will take away important feeding grounds for herbivores as these grasslands provide fodder for animals such as chital, sambar, gaur, elephants and other herbivores even during the height of dry seasons. These low lying grasslands hold high moisture content and are green throughout the year. </p>
<p>These days it is becoming common to see all types of waste (including medical waste) being dumped inside wildlife habitats. This will bring in communicable diseases to wildlife apart from polluting habitats. Waste such as plastic, food and even carcass of livestock, rotten fruits and vegetables are disposed inside our protected areas. Dead livestock carrying dangerous diseases such as Foot and Mouth (F&M), Anthrax are thrown inside forests resulting in spreading of this deadly diseases to wild ungulates resulting in their death.  
                			</p>
							<p>
							*Please note that some images in this page are graphic in nature
                			</p>

                			
                    	</div>
          			</div> <!-- #submit-map-display (end) -->    
          			           
				</div><!-- #submit report (end) -->