
/* Round corners */ 
.round { 
-moz-border-radius: 10px; 
-webkit-border-radius: 10px; 
border-radius: 10px; 
} 

/* User show page */ 
table.profile { 
width: 100%; 
margin-bottom: 0; 
} 
td.main { 
width: 70%; 
padding: 1em; 
} 
td.sidebar { 
width: 30%; 
padding: 1em; 
vertical-align: top; 
background: #ffc; 
} 

div.field, div.actions { 
margin-bottom: 10px; 
} 

.fieldWithErrors { 
padding: 2px; 
background-color: red; 
display: table; 
} 
.fieldWithErrors label { 
color: #fff; 
} 
#errorExplanation { 
width: 400px; 
border: 2px solid red; 
padding: 7px; 
padding-bottom: 12px; 
margin-bottom: 20px; 
background-color: #f0f0f0; 
} 
#errorExplanation h2 { 
text-align: left; 
font-weight: bold; 
padding: 5px 5px 5px 15px; 
font-size: 12px; 
margin: -7px; 
background-color: #c00; 
color: #fff; 
} 
#errorExplanation p { 
color: #333; 
margin-bottom: 0; 
padding: 5px; 
} 
#errorExplanation ul li { 
font-size: 12px; 
list-style: square; 
} 
