<table> 
  <tr> 
    <td> 
      <strong>Name:</strong>&nbsp;
    </td>
    <td>
      <%= h @user.name %><br /> 
    </td>
  </tr>
  <tr>
    <td>
      <strong>Email</strong>&nbsp;
    </td> 
    <td>
      <%= h @user.email%>
    </td>
  </tr> 
  <tr>
    <td>
      <strong>Edit</strong>
    </td>
    <td>
      <%= link_to edit_user_path,  edit_user_path %>
    </td>
  </tr>
</table>
