<div id="main-report-display1" class="rounded-10" style="left: 0px; top: 0px;">
	                   
  <div id="index-text-box1" class="rounded-10">
    <p>
      <span style="font-size: x-large;"><b><a>W</a></b></span>ildlife
      and their habitats are threatened by several human-induced causes in 
      different forms. Collation of these threats is difficult considering 
      their multifariousness such as fragmentation, poaching, forest fires, 
      timber smuggling, harvest of forest products and others. These threats 
      cause several short-term and long-term effects on wildlife and it is 
      extremely important to document threats for wildlife conservation and 
      management purposes.
    </p>
    <p>
      In this regard conservationthreats.org is an effort to 
      help wildlife enthusiasts and common man   understand threats and their 
      impact on wildlife. It offers citizens a platform to participate in 
      collating information about occurrences of the threats across the 
      forests of Western Ghats in Karnataka. Established jointly by Wildlife 
      Conservation Society-India Program and Wildlife Matters, 
      conservationthreats.org aims to compile data about wildlife threats and 
      occurrences by contributions of images, videos and location/s of threats
      from conservation enthusiasts. We envision the forum which is open to 
      public, media, wildlife enthusiasts and policy makers would help in 
      creating better awareness on conservation issues by mapping them based 
      on established categories of threats.
    </p>
    <p>
      <b><a>conservationthreats.org</a></b> roots from a 
      concern over all aspects of threats that harm  protection of wildlife 
      and to reinforce an understanding of the urgent need to conserve them in
      their natural habitats. The location mapping of the data and the number
      of threats that occur in an area are broad indicators of the well being
      of forests and protection accorded to the species that inhabit them. 
    </p>
  </div>
  
</div> 
