
<script src="/javascripts/slideswitch.js" type="text/javascript"></script>


<!-- HOME DISPLAY (start) -->
  
<div id="sidebar-wrapper" style="left: 0px; top: 0px">
  <div id="home-display" class="rounded-10" style="left: 0px; top: 0px">
  
  <div id="slideshow-wrapper">
  <ul id="slideshow">
  <li class="active"><!-- slide 1 -->
    <div class="slide-txt">
      <h3><a href="index.htm#">Karnataka has the best diversity of flora and fauna</a></h3>
      
    </div>
  <a href="index.htm#"><img src="images/slide_1.jpg" width="260" height="300" alt="" /></a>             </li>
  
  
  <li><!-- slide 2 -->
    <div class="slide-txt">
      <h3><a href="index.htm#">Supports 25% of Indias elephant population</a></h3>
      
    </div>
    <a href="index.htm#"><img src="images/slide_2.jpg" width="260" height="300" alt="" /></a>            	
  </li>
  
  
  <li><!-- slide 3 -->
    <div class="slide-txt">
      <h3><a href="index.htm#">60% of the Western Ghats is located in Karnataka State</a></h3>
      
    </div>
    <a href="index.htm#"><img src="images/slide_3.jpg" width="260" height="300" alt="" /></a>            	
  </li>
  
  
  <li><!-- slide 4 -->
    <div class="slide-txt">
      <h3><a href="index.htm#">Wildlife and their habitat are threatened in many ways</a></h3>
      
    </div>
    <a href="index.htm#"><img src="images/slide_4.jpg" width="260" height="300" alt="" /></a>            	
  </li>
  
  <li><!-- slide 5 -->
    <div class="slide-txt">
      <h3><a href="index.htm#">Only if we understand can we CARE</a></h3>
      
    </div>
    <a href="index.htm#"><img src="images/slide_5.jpg" width="260" height="300" alt="" /></a>            	
  </li>
  
  <li><!-- slide 6 -->
    <div class="slide-txt">
      <h3><a href="index.htm#">Only if we care will we HELP</a></h3>
      
    </div>
    <a href="index.htm#"><img src="images/slide_6.jpg" width="260" height="300" alt="" /></a>  
  </li>
  
  <li><!-- slide 7 -->
    <div class="slide-txt">
      <h3><a href="index.htm#">Only if we help shall all be SAVED</a></h3>
      
    </div>
    <a href="index.htm#"><img src="images/slide_7.jpg" width="260" height="300" alt="" /></a> 				
  </li>
  </ul>
</div>
<!-- #slideshow-wrapper (end) -->
                                         
                                                             
</div><!-- #home-display (end) -->
                
<div id="home-display" class="rounded-10" >
  <div id="index-cloud" class="rounded-10">
    <table>
      <tbody>
        <tr>
          <td style="padding:0px; margin:0px; width:10px;">
          </td>
          <td>
            <a href="http://www.wcsindia.org">
              <img title="Wildlife Conservation Society" src="images/LogoWCSCol_high.jpg"/>
            </a>
          </td>                				
          <td style="padding:0px; margin:0px; width:10px;">
          </td>
          <td>
            <img title="Wildlife Matters Trust" src="images/Larger_loris_notriangle.jpg"/>
          </td>
          <td style="padding:0px; margin:0px; width:10px;">
          </td>
        </tr>
      </tbody>
    </table>
  </div>				  
</div>	

<div id="home-display1" class="rounded-10" >
  <div id="index-cloud1" class="rounded-10">
    <div id="flashcontent"></div>
  </div>				  
</div>				

</div>

<script language="javascript" type="text/javascript">swfobject.embedSWF("/swf/imagecloud.swf", "flashcontent",
					"240", "200",
					"9", "",
					{cloud_data: "cloud_data.xml"},
					{wmode: "transparent", menu: "false", quality: "high", scale:"noscale"}
					);</script>