<div id="sidebar-wrapper" style="left: 0px; top: 0px;">
  <div id="home-display" class="rounded-10" style="left: 0px; top: 0px;">
    <div id="slideshow-wrapper">
      
      <ul id="slideshow-nav" class="rounded-5">
	<li><a href="#" class="ie6 activeSlide"></a></li>
	<li><a href="#" class="ie6"></a></li>
	<li><a href="#" class="ie6"></a></li>
	<li><a href="#" class="ie6"></a></li>        
      </ul>
     
      <div style="position: relative; width: 260px; height: 352px;" id="slideshow">
	
	<a style="position: absolute; top: 0px; left: 0px; display: block; z-index: 5; opacity: 1; width: 260px; height: 352px;" href="#" title="Home Image">
	  <img src="images/slide_1.jpg" alt="Home Image"/>
	</a>
	  
	<a style="position: absolute; top: 0px; left: 0px; display: none; z-index: 4; opacity: 0; width: 260px; height: 304px;" href="#" title="Home Image">
	  <img src="images/slide_2.jpg" alt="Home Image" />
	</a>
                            
	<a style="position: absolute; top: 0px; left: 0px; display: none; z-index: 4; opacity: 0; width: 260px; height: 319px;" href="#" title="Home Image">
	  <img src="images/slide_3.jpg" alt="Home Image"/>
	</a>
	      
	<a style="position: absolute; top: 0px; left: 0px; display: none; z-index: 4; opacity: 0; width: 260px; height: 328px;" href="#" title="Home Image">
	  <img src="images/slide_4.jpg" alt="Home Image" />
	</a>                         
                            
	
      </div>
	      
    </div>
  </div>

  <div id="home-display" class="rounded-10" style="left: 0px; top: 0px;">
    <div id="index-cloud" class="rounded-10">
      <table>
	<tbody>
	  <tr>
	    <td style="padding: 0px; margin: 0px; width: 10px;">
	    </td>
	    <td>
	      <a href="http://www.wcsindia.org/">
		<img title="Wildlife Conservation Society" src="images/LogoWCSCol_high.jpg" />
	      </a>
	    </td>                				
	    <td style="padding: 0px; margin: 0px; width: 10px;">
	    </td>
	    <td>
	      <img title="Wildlife Matters Trust" src="images/Larger_loris_notriangle.jpg" />
	    </td>
	    <td style="padding: 0px; margin: 0px; width: 10px;">
	    </td>
	  </tr>
	</tbody>
      </table>
    </div>				  
  </div>	

   <div id="home-display1" class="rounded-10">
     <div id="index-cloud1" class="rounded-10">
	      
     </div>				  
   </div>				
</div>