
<script src="/javascripts/slideswitch.js" type="text/javascript"></script>


<!-- HOME DISPLAY (start) -->
  
<div id="sidebar-wrapper" style="left: 0px; top: 0px">
  <div id="home-display" class="rounded-10" style="left: 0px; top: 0px">
  
  <div id="slideshow-wrapper">
  <ul id="slideshow">
  <li class="active"><!-- slide 1 -->
    <div class="slide-txt">
      <h4><href="index.htm#">What's really threatening our wildlife and habitat? <a href="/understandthreats/poaching" title="Understand Threats">click here to find out..</a></h4>
	       
    </div>
  <a href="index.htm#"><img src="images/slide_1.jpg" width="260" height="300" alt="" /></a></li>
  
  
  <li><!-- slide 2 -->
    <div class="slide-txt">
      <h4><href="index.htm#">Help save wildlife and habitat <a href="/reports/new" title="Understand Threats"> Join Us..</a></h4>
      
    </div>
    <a href="index.htm#"><img src="images/slide_2.jpg" width="260" height="300" alt="" /></a>            	
  </li>
  
  
  <li><!-- slide 3 -->
    <div class="slide-txt">
      <h4><href="index.htm#">Have you seen a wildlife threat? <a href="/reports/new" title="Report a threat">add your report it here..</a></h4>
      
    </div>
    <a href="index.htm#"><img src="images/slide_3.jpg" width="260" height="300" alt="" /></a>            	
  </li>
  
  
  </ul>
</div>
<!-- #slideshow-wrapper (end) -->
                                         
                                                             
</div><!-- #home-display (end) -->
                
<div id="home-display" class="rounded-10" >
  <div id="index-cloud" class="rounded-10">
    <table>
      <tbody>
        <tr>
          <td style="padding:0px; margin:0px; width:10px;">
          </td>
          <td>
            <a href="http://www.wcsindia.org">
              <img title="Wildlife Conservation Society" src="images/LogoWCSCol_high.jpg"/>
            </a>
          </td>                				
          <td style="padding:0px; margin:0px; width:10px;">
          </td>
          <td>
            <img title="Wildlife Matters Trust" src="images/Larger_loris_notriangle.jpg"/>
          </td>
          <td style="padding:0px; margin:0px; width:10px;">
          </td>
        </tr>
      </tbody>
    </table>
  </div>				  
</div>	

<div id="home-display1" class="rounded-10" >
  <div id="index-cloud1" class="rounded-10">
     <P>

<center>

<a href="/understandthreats/poaching" onmouseover="this.style.color='#B22222'"

onmouseout="this.style.color='#5eba62'" style="color:#5eba62;font-size:20px;text-decoration:none"

 title="Poaching">poaching</a>

<a href="/understandthreats/frag" onmouseover="this.style.color='#B22222'"

onmouseout="this.style.color='#445d1c'" style="color:#445d1c;font-size:18px;text-decoration:none"

 title="Fragmentation">fragmentation</a>

<a href="/understandthreats/conflict" onmouseover="this.style.color='#B22222'"

onmouseout="this.style.color='#445d1c'" style="color:#445d1c;font-size:17px;text-decoration:none"

title="Human-Wildlife Conflict">human-wildlife conflict</a>

<a href="/understandthreats/grazing" onmouseover="this.style.color='#B22222'"

onmouseout="this.style.color='#5eba62'" style="color:#5eba62;font-size:20px;text-decoration:none"

title="Livestock Grazing">livestock grazing</a>

<a href="/understandthreats/mining" onmouseover="this.style.color='#B22222'"

onmouseout="this.style.color='#445d1c'" style="color:#445d1c;font-size:25px;text-decoration:none"

title="Mining">mining</a>

<a href="/understandthreats/roadKills" onmouseover="this.style.color='#B22222'"

onmouseout="this.style.color='#5eba62'" style="color:#5eba62;font-size:24px;text-decoration:none"

title="Road Kills">road kills</a>

<a href="/understandthreats/smuggling" onmouseover="this.style.color='#B22222'"

onmouseout="this.style.color='#666'" style="color:#666;font-size:20px;text-decoration:none"

title="Timber Smuggling">timber smuggling</a>

<a href="/understandthreats/tourism" onmouseover="this.style.color='#B22222'"

onmouseout="this.style.color='#5eba62'" style="color:#5eba62;font-size:20px;text-decoration:none"

title="Excessive Tourism">excessive tourism</a>

<a href="/understandthreats/NTFP" onmouseover="this.style.color='#B22222'"

onmouseout="this.style.color='#445d1c'" style="color:#445d1c;font-size:20px;text-decoration:none"

title="Non Timber Forest Produce">NTFP</a>

<a href="/understandthreats/fires" onmouseover="this.style.color='#B22222'"

onmouseout="this.style.color='#666'" style="color:#666;font-size:25px;text-decoration:none"

title="Forest Fires">forest fires</a>

<a href="/understandthreats/others" onmouseover="this.style.color='#B22222'"

onmouseout="this.style.color='#5eba62'" style="color:#5eba62;font-size:18px;text-decoration:none"

title="Other Threats">other</a> </center>

</p>
  </div>				  
</div>				

</div>

