<div id="About-user-display" class="rounded-10">
<div id="contactus1" class="rounded-10">
<h2>Contact</h2>
<p>
Please contact us <br>
1) If you have seen a threat, and would like to know what it is, you can get help.<br>
2) If you have any suggestions for the website or any queries.<br>
by sending an email to <a href="mailto:conservationthreats@gmail.com">conservationthreats@gmail.com</a>
</p>
</div>
<div id="contactus1" class="rounded-10">
<h2>Website</h2>
<p>
Written/Edited/Compiled by <a2>Sanjay Gubbi</a2><br>
Designed by <a2>Prakash Matada</a2><br>
Developed by <a2>Praveen MV and Vinayak Rao</a2><br>
Support by <a2>Hari Krishnan</a2><br>
</p>
</div>
<div id="contactus" class="rounded-10">
<h2>Disclaimer</h2>
<p>
Though we take utmost care to verify the veracity of the data, Wildlife Matters Trust and/or Conservationthreats.org are not responsible for the reliability of the linked photographs, news, content or videos and do not necessarily endorse the views expressed within them.
Opinions and other statements expressed by users are theirs alone, and are not opinions of Wildlife Matters Trust and/or Conservationthreats.org. Content created by users are the sole responsibility of such users, and their accuracy and completeness are not endorsed or guaranteed by Wildlife Matters Trust and/or Conservationthreats.org. The Sites may provide links to other web pages, web sites, and various resources or locations on the Internet. Wildlife Matters Trust and/or Conservationthreats.org has no control over the information access via such links, and does not endorse that information, and is not to be held responsible for it or for the consequences of your use of that information. 
</p>
</div>
<div id="contactus" class="rounded-10">
<h2>Terms of Use</h2>
<p>
<a rel="license" href="http://creativecommons.org/licenses/by/3.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a> Conservation Threats is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"target="_blank">Creative Commons Attribution 3.0 Unported License</a>.<br>
Conservationthreats.org wishes to encourage the broadest exchange of information to encourage stimulating, informative and above all intelligent debate. To ensure the debate flows freely with only minimal intervention required of a respected publisher access to and use of any forum (including comments on Blogs) hosted by Conservationthreats.org is subject to the following -
</p>
<ul id="faqList">
<li>
   <p class='question'><a><b>Terms and Conditions</b></a></p>
   <div class='answer'>
   <p>
<b>1.</b> By using the Conservationthreats.org website you agree to be legally bound by these terms and conditions which will take effect immediately on your first use. If you do not agree to be legally bound by all of the following terms please do not access or use the site.
</p>
<p>
<b>2.</b> Conservationthreats.org may change these terms at any time by posting the changes online and your continued use of the website after such changes are posted means you agree to be bound by these terms as amended.
</p>
     <p>
<b>3.</b> When you submit any contribution to the Conservationthreats.org website and associated websites (including any text, photographs, graphics, video or audio) you agree by submitting your contribution to grant Conservationthreats.org royalty-free, non-exclusive sub licensable right and license to use, reproduce, , adapt, publish, translate, play, make available to the public, and exercise all copyright and publicity rights with respect to your contribution worldwide and/or to incorporate your contribution in other works in any media now known or later developed to the full term of any rights that may exist in your contribution. If you do not wish to grant these rights please do not submit your contribution.
</p>
<p>
<b>4.</b> By submitting any contribution to the Conservationthreats.org website and associated websites:
<br>
<br>
(a) You warrant that your contribution
<table>
<td style="padding: 0px 0px 0px 20px; ">
<ul id="submenu">
                       		<li type=disc>is your own original work and that you have the right to make it available to Conservationthreats.org for all purposes.</li>
							<li type=disc>is not defamatory</li>
                       		<li type=disc>does not infringe any law</li>
</ul>
</td>
</table><br>
(b) You indemnify Conservationthreats.org against all damages, legal fees and others expenses that may be incurred by Conservationthreats.org as a result of your breach of warranty.
</p>
<p>
<b>5.</b> You agree to use the Conservationthreats.org website only for lawful purposes and in a way that does not infringe the rights of or restrict or inhibit anyone else's use and enjoyment of the website. Contributions must be civil and tasteful. The following are examples (but not an exhaustive list) of behaviour/action which is prohibited:<br>
<table>
<td style="padding: 0px 0px 0px 20px; ">
<ul id="submenu">
                       		<li type=disc>anything abusive or threatening</li>
							<li type=disc>material which is sexist, racist, homophobic, obscene or likely to harass or cause distress or be disruptive</li>
                       		<li type=disc>swearing</li>
							<li type=disc>spamming</li>
							<li type=disc>multiple posting</li>
							<li type=disc>advertising</li>
							<li type=disc>impersonation</li>
</ul>
</td>
</table>
</p>
<p>
<b>6.</b> You must not reveal any personal information about yourself or anyone else (for example telephone number or home address). If you add a comment to a blog, be aware that your e-mail address will be apparent.
</p>
<p>
<b>7.</b> If you are under 18, please get a parent or guardia's permission before making any contribution.
</p>
<p>
<b>8.</b> Conservationthreats.org reserves the right to delete any contribution at its sole discretion at any time without notice.
</p>
<p>
<b>9.</b> Conservationthreats.org will not be liable for any loss including but not limited to the following (whether such losses are foreseen, known or otherwise) loss of data, loss of revenue or anticipated profit, loss of business, loss of opportunity, loss of goodwill or injury to reputation, losses suffered by third parties, any indirect, consequential or exemplary damages.
</p>
<p>
<b>10.</b> Conservationthreats.org does not warrant that the functions contained in the Conservationthreats.org website and associated websites will be uninterrupted or error free or that the server that makes it available are free of viruses or bugs.
</p>
<p>
<b>12.</b> The names, images and logos identifying Conservationthreats.org or third parties in their products and services are subject to copyright, design rights and trademarks of Conservationthreats.org and/or third parties. Nothing contained in these terms should be construed as conferring by implication, estoppel or otherwise any licence or right to use any trademark, patent, design right or copyright of Conservationthreats.org or any third party.
</p>
<p>
<b>13.</b> These terms shall be governed and interpreted in accordance with the laws in India.
</p>
</div>
</li>
</div>
</div>

<script type="text/javascript">
$('#faqList').simpleFAQ({
  allowSearch: true,
  searchNode: '#faqSearch',
  minSearchScore: 0.5,
  sortSearch: true
});
</script>

