<div id="About-user-display" class="rounded-10">
<div id="contactus1" class="rounded-10">
<h2>Contact</h2>
<p>
Please contact us <br>
1) If you have seen a threat, and would like to know what it is, you can get help.<br>
2) If you have any suggestions for the website or any queries.<br>
by sending an email to <a href="mailto:info@conservationthreats.org">info@conservationthreats.org</a>
</p>
</div>
<div id="contactus1" class="rounded-10">
<h2>Website</h2>
<p>
Written/edited/compiled by <a2>Sanjay Gubi</a2><br>
Designed by <a2>Prakash Matada</a2><br>
Developed by <a2>Praveen MV and Vinayak Rao</a2><br>
Support by <a2>Hari Krishnan</a2><br>
</p>
</div>
<div id="contactus" class="rounded-10">
<h2>Disclaimer</h2>
<p>
Though we take utmost care to verify the veracity of the data WCS-India Program, Wildlife Matters Trust and/or conservationthreats.org are not responsible for the reliability of the linked photographs, content and videos and do not necessarily endorse the views expressed within them.
<br>
Opinions and other statements expressed by users are theirs alone, and are not opinions of WCS India program, Wildlife Matters Trust and/or conservationthreats.org. Content created by users are the sole responsibility of such users, and their accuracy and completeness are not endorsed or guaranteed by WCS India Program, Wildlife Matters trust and/or conservationthreats.org. The Sites may provide links to other web pages, web sites, and various resources or locations on the Internet. WCS India Program, Wildlife Matters Trust and/or conservationthreats.org has no control over the information access via such links, and does not endorse that information, and is not to be held responsible for it or for the consequences of your use of that information. 
</p>
</div>
<div id="contactus" class="rounded-10">
<h2>Terms of Use</h2>
<a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a> Conservation Threats is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.<br>
When you submit any contribution to the conservationthreats website which  including any text, photographs, video you agree by submitting your contribution to grant conservationthreats perpetual, royalty-free, non-exclusive sub licensable right and license to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, perform, play, make available to the public, and exercise all copyright and publicity rights with respect to your contribution worldwide and/or to incorporate your contribution in other works in any media now known or later developed to the full term of any rights that may exist in your contribution. If you do not wish to grant these rights please do not submit your contribution.
</div>
</div>
