<div id="Faq-user-display" class="rounded-10">
<h2>Frequently Asked Questions</h2>
<div id="faqbox" class="rounded-10">
<ul id="faqList">
<li>
   <p class='question'><a><b>How can the threats be stopped or curbed?</b></a></p>
   <div class='answer'>
     <p>Threats to wildlife are a serious concern for wildlife managers and conservationists. Though all threats cannot be completely stopped it is important to bring them to tolerable limits. In most cases the Forest Department is responsible to stop the threats. However bringing threats to the notice of the concerned authorities is the first step to reduce them.In some cases conservation enthusiasts also take lead in curbing/stopping both minor and serious threats to wildlife conservation.Hence spreading awareness amongst citizens is an important intiative.</p>
      </div>
</li>
<li>
   <p class='question'><a><b>What will happen to the threats reported on this site?</b></a></p>
   <div class='answer'>
     <p>Building awareness among citizens, media and others is the most important objective of this site. We also expect that individual park managers can access the site and take steps in reducing threats to wildlife. We welcome media to use the site as a source of data to understand how threats are spatially distributed.<br>More importantly we hope that conservation organisations will use the available data to raise the subject with wildlife managers, Government and others to build awareness about high intensity threats so that suitable action is taken to reduce the threats. For instance we expect information on human-wildlife conflict to be used by both Government and civil societies to monitor the extent and locations of conflict so that suitable mitigation measures could be planned.</p>
     </div>
</li>
<li>
   <p class='question'><a><b>How valid is the data?</b></a></p>
   <div class='answer'>
     <p>We would like to ensure that all data are authentic and genuine. Hence the data is screened regularly by moderators and any data that does not seem true will be immediately removed. This is the reason why it is mandatory to register to upload information. If a user is found to be misusing the site access to the site will be immediately removed.</p>
     </div>
</li>
<li>
   <p class='question'><a><b>More FAQs</b></a></p>
   <div class='answer'>
     <p>As we get feedback from users we will update and put more answers to FAQs. We encourage you to send emails to the moderator as what would you like to be answered in this page.</p>
     </div>
</li>
</div>

<div id="faqbox" class="rounded-10">
<p>
<a><b>Whom to contact when a threat is detected?</b></a><br>
A detected threat can be reported directly to the local Range Forest Officer or Deputy Conservator of Forests of the respective forest division. Conservation organisations that work in the region and/ or the local media can also be contacted to report a threat. Details of some of the Deputy Conservator of Forests are given below to report a threat.</p>
<table border="1" width=100%>
<tr>
<th>Name of the PA</th>
<th>Address</th>
<th>Telephone</th>
<th>Fax</th>
<th>email</th>
</tr>
<tr>
<td>Cauvery Wildlife Sanctuary</td>
<td>Deputy Conservator of Forests,<br>
Cauvery Wildlife Sanctuary,<br>
Karnataka Forest Department, <br>
Kollegal - 571 440<br>
Chamrajnagar District.</td>
<td>08224-252027</td>
<td>08224-252027</td>
<td>dcfkollegal@gmail.com <br>dcf_kgl@rediffmail.com</td>
</tr>
<tr>
<td>Kollegal Division (MM Hills)</td>
<td>Deputy Conservator of Forests,<br>
Kollegal Division (MM Hills),<br>
Karnataka Forest Department, <br>
Kollegal - 571 440<br>
Chamrajnagar District.</td>
<td>08224-252027</td>
<td>08224-252027</td>
<td>dcfkollegal@gmail.com<br>
dcf_kgl@rediffmail.com</td> 	
</tr>
<tr>
<td>BRT Wildlife Sanctuary</td>
<td>Deputy Conservator of Forests,<br>
BRT Wildlife Sanctuary,<br>
Karnataka Forest Department,<br> 
Chamarajnagar - 571 313 <br>
Chamrajnagar District.</td>
<td>08226-22059,<br> 
08226-225165</td>
<td>08226-22059</td>
<td>dcfcrnbrt@yahoo.co.in</td> 	
</tr>
<tr>
<td>Bandipur Tiger Reserve</td>
<td>Deputy Conservator of Forests,<br>
Bandipur Tiger Reserve,<br>
Bandipur - 571 111<br> 
Gundlupet Taluk<br>
Chamarajnagar District.</td>
<td>08229-236044</td>
<td>08229-236043</td>
<td>dcf_bandipur@yahoo.com,<br>
dcf_bandipur@rediffmail.com</td> 	
</tr>
<tr>
<td>Nagarahole Tiger Reserve</td>
<td>Deputy Conservator of Forests,<br>
Hunsur Wildlife Division,<br>
Karnataka Forest Department,<br> 
Hunsur - 571105<br>
Mysore District.</td>
<td>08222-250002</td>
<td>08222-252041</td>
<td>dcfwlhun@gmail.com<br>
dcfwlhun@rediffmail.com
</td> 	
</tr>
<tr>
<td>Bramhagiri Wildlife Sanctuary</td>
<td>Deputy Conservator of Forests,<br>
Bramhagiri Wildlife Sanctuary,<br>
Karnataka Forest Department,<br> 
Hunsur - 571105<br>
Mysore District.</td>
<td>08222-250002</td>
<td>08222-52041</td>
<td>dcfwlhun@gmail.com<br>
dcfwlhun@rediffmail.com</td> 	
</tr><tr>
<td>Talacauvery Wildlife Sanctuary</td>
<td>Deputy Conservator of Forests,<br>
Talacauvery Wildlife Sanctuary,<br>
Karnataka Forest Department,<br> 
Madikeri - 571 201<br>
Kodagu District.</td>
<td>08272-228019</td>
<td>08272-228019</td>
<td>dcfwlmadikeri@yahoo.com</td> 	
</tr><tr>
<td>Pushpagiri Wildlife Sanctuary</td>
<td>Deputy Conservator of Forests,<br>
Pushpagiri Wildlife Sanctuary,<br>
Karnataka Forest Department,<br> 
Madikeri – 571201<br>
Kodagu District.</td>
<td>08272-228019</td>
<td>08272-228019</td>
<td>dcfwlmadikeri@yahoo.com</td> 	
</tr><tr>
<td>Kudremukh National Park</td>
<td>Deputy Conservator of Forests,<br>
Kudremukh Wildlife Division,<br>
Karnataka Forest Department, <br>
Karkala – 574 104<br>
Udupi District.</td>
<td>08258-21183</td>
<td>08258-21183</td>
<td>to be updated</td> 	
</tr><tr>
<td>Someshwara Wildlife Sanctuary</td>
<td>Deputy Conservator of Forests,<br>
Kudremukh Wildlife Division,<br>
Karnataka Forest Department,<br> 
Karkala – 574 104<br>
Udupi District.</td>
<td>08258-21183</td>
<td>08258-21183</td>
<td>dcfbhadra@sancharnet.in 
dcfbhadra@yahoo.com</td> 	
</tr><tr>
<td>Bhadra Tiger Reserve</td>
<td>Deputy Conservator of Forests,<br>
Bhadra Tiger Reserve,<br>
Karnataka Forest Department, <br>
Chickmagalur – 577 101<br>
Chickmagalur District.</td>
<td>08262-234904</td>
<td>08262-230032</td>
<td>dcfbhadra@sancharnet.in 
dcfbhadra@yahoo.com</td> 
</tr><tr>
<td>Mookambika Wildlife Sanctuary</td>
<td>Deputy Conservator of Forests,<br>
Kudremukh Wildlife Division,<br>
Karnataka Forest Department, <br>
Karkala - 574 104<br>
Udupi District.</td>
<td>08258-21183</td>
<td>08258-21183</td>
<td>to be updated</td> 	
</tr><tr>
<td>Shettihalli Wildlife Sanctuary</td>
<td>Deputy Conservator of Forests,<br>
Wildlife Division,<br>
Karnataka Forest Department, <br>
D.C. Office Compound,<br>
Shimoga - 577 201<br>
Shimoga District.</td>
<td>08182-222983</td>
<td>08182-221983</td>
<td>dcfwl_smg@hotmail.com</td> 	
</tr><tr>
<td>Sharavathi Valley Wildlife Sanctuary</td>
<td>Deputy Conservator of Forests,<br>
Wildlife Division,<br>
Karnataka Forest Department, <br>
D.C. Office Compound,<br>
Shimoga - 577 201<br>
Shimoga District.</td>
<td>08182-222983</td>
<td>08182-221983</td>
<td>dcfwl_smg@hotmail.com</td> 	
</tr><tr>
<td>Anshi National Park</td>
<td>Deputy Conservator of Forests,<br>
Dandeli Wildlife Division,<br>
Karnataka Forest Department, <br>
Dandeli - 581325<br>
Uttar Kannada District.</td><br>
<td>08284-231585</td>
<td>08284-232981</td>
<td>dcfwldandeli@rediffmail.com</td> 	
</tr><tr>
<td>Dandeli Wildlife Sanctuary</td>
<td>Deputy Conservator of Forests,<br>
Dandeli Wildlife Division,<br>
Karnataka Forest Department, <br>
Dandeli - 581 325<br>
Uttar Kannada District.</td>
<td>08284-231585</td>
<td>08284-232981</td>
<td>dcfwldandeli@rediffmail.com</td> 	
</tr>
</table>                     
</ul>
</td>
<td>
</tr>
</table>
</div>
</div>

<script type="text/javascript">
$('#faqList').simpleFAQ({
  allowSearch: true,
  searchNode: '#faqSearch',
  minSearchScore: 0.5,
  sortSearch: true
});
</script>