<div id="Faq-user-display" class="rounded-10">
<h2>Frequently Asked Questions</h2><a>To be Updated Shortly</a>

<div id="faqSearch"></div>
<ul id="faqList">
<li>
   <p class='question'>How can the threats be stopped or curbed?</p>
   <div class='answer'>
     <p>Threats to wildlife is a serious concern for conservationists and wildlife mangers. Since most threats have indirect and long term impact and occur in large, sometimes inaccessible areas of the forests it is difficult to detect. Awareness and support to conservation activities and reporting a detected threat so that action is taken against it, is a way of curbing such threats.</p>
     <p class='tags'>a tag, another tag, more tags</p>
   </div>
</li>

</div>


</div>

<script type="text/javascript">
$('#faqList').simpleFAQ({
  allowSearch: true,
  searchNode: '#faqSearch',
  minSearchScore: 0.5,
  sortSearch: true
});
</script>