<div id="Faq-user-display" class="rounded-10">
<h2>Spread your Support</h2>
<br>
<h5>The site depends on people who come across threats and contribute the information.Hence its important to get many people to be aware of the site.Help Us.</h5>
<br>
<div id="badge-wrapper" class="rounded-10">
      <ul id="submenu">
        <li>
          <div class="slidecaption">
            <b>Badges</b> - If you have a blog/website and want to support Conservationthreats.org, copy and paste the below html snippet into your website. Alternately you could refer the image below and add a link your blog. Champion the effort and help wildlife.
          </div>
          <a href="http://conservationthreats.org" target="_blank"><%= image_tag("support_conservation.png")%></a>
          <textarea class="badge" target="_blank" >&lt;a href="http://conservationthreats.org"&gt;&lt;img src="http://conservationthreats.org/images/support_conservation.png" alt="I support conservationthreats.org. Report a threat and save wildlife."&gt;&lt;/a&gt;</textarea>
        </li>
      </ul>
	
    </div>
<div id="badge-wrapper1" class="rounded-10">
<b>Poster - </b>Posters are a great way to spread awareness and to get people to join us.<a2> Coming Soon are Conservationthreats.org posters....</a2><br>
   
</div>

<div id="faqbox" class="rounded-10">
<p>
<a><b>Whom to contact when a threat is detected?</b></a><br>
A detected threat can be reported directly to the local Range Forest Officer or Deputy Conservator of Forests of the respective forest division. Conservation organisations that work in the region and/ or the local media can also be contacted to report a threat. Details of some of the Deputy Conservator of Forests are given below to report a threat.</p>
<table border="1" width=100% >
<tr>
<th>Name of the PA</th>
<th>Address</th>
<th>Telephone</th>
<th>Fax</th>
<th>email</th>
</tr>
<tr>
<td VALIGN="top">In-charge of all protected areas in Karnataka</td>
<td VALIGN="top">Principal Chief Conservator of Forests (Wildlife),<br>
2nd Floor, Aranya Bhavan,<br>
18th Cross, Malleshwaram,<br>
Bangalore - 560 003<br>
</td>
<td VALIGN="top">080-23345846</td>
<td VALIGN="top">080-23346389</td>
<td VALIGN="top">pccfwl@gmail.com</td>
</tr>
<tr>
<td VALIGN="top">Cauvery Wildlife Sanctuary</td>
<td VALIGN="top">Deputy Conservator of Forests,<br>
Cauvery Wildlife Sanctuary,<br>
Karnataka Forest Department, <br>
Kollegal - 571 440<br>
Chamrajnagar District.</td>
<td VALIGN="top">08224-252027</td>
<td VALIGN="top">08224-252027</td>
<td VALIGN="top">dcfkollegal@gmail.com <br>dcf_kgl@rediffmail.com</td>
</tr>
<tr>
<td VALIGN="top">Kollegal Division (MM Hills)</td>
<td VALIGN="top">Deputy Conservator of Forests,<br>
Kollegal Division (MM Hills),<br>
Karnataka Forest Department, <br>
Kollegal - 571 440<br>
Chamrajnagar District.</td>
<td VALIGN="top">08224-252027</td>
<td VALIGN="top">08224-252027</td>
<td VALIGN="top">dcfkollegal@gmail.com<br>
dcf_kgl@rediffmail.com</td> 	
</tr>
<tr>
<td VALIGN="top">BRT Wildlife Sanctuary</td>
<td VALIGN="top">Deputy Conservator of Forests,<br>
BRT Wildlife Sanctuary,<br>
Karnataka Forest Department,<br> 
Chamarajnagar - 571 313 <br>
Chamrajnagar District.</td>
<td VALIGN="top">08226-22059<br> 
08226-225165</td>
<td VALIGN="top">08226-22059</td>
<td VALIGN="top">dcfcrnbrt@yahoo.co.in</td> 	
</tr>
<tr>
<td VALIGN="top">Bandipur Tiger Reserve</td>
<td VALIGN="top">Deputy Conservator of Forests,<br>
Bandipur Tiger Reserve,<br>
Bandipur - 571 111<br> 
Gundlupet Taluk<br>
Chamarajnagar District.</td>
<td VALIGN="top">08229-236044</td>
<td VALIGN="top">08229-236043</td>
<td VALIGN="top">dcf_bandipur@yahoo.com<br>
dcf_bandipur@rediffmail.com</td> 	
</tr>
<tr>
<td VALIGN="top">Nagarahole Tiger Reserve</td>
<td VALIGN="top">Deputy Conservator of Forests,<br>
Hunsur Wildlife Division,<br>
Karnataka Forest Department,<br> 
Hunsur - 571105<br>
Mysore District.</td>
<td VALIGN="top">08222-250002</td>
<td VALIGN="top">08222-252041</td>
<td VALIGN="top">dcfwlhun@gmail.com<br>
dcfwlhun@rediffmail.com
</td> 	
</tr>
<tr>
<td VALIGN="top">Bramhagiri Wildlife Sanctuary</td>
<td VALIGN="top">Deputy Conservator of Forests,<br>
Bramhagiri Wildlife Sanctuary,<br>
Karnataka Forest Department,<br> 
Hunsur - 571105<br>
Mysore District.</td>
<td VALIGN="top">08222-250002</td>
<td VALIGN="top">08222-52041</td>
<td VALIGN="top">dcfwlhun@gmail.com<br>
dcfwlhun@rediffmail.com</td> 	
</tr><tr>
<td VALIGN="top">Talacauvery Wildlife Sanctuary</td>
<td VALIGN="top">Deputy Conservator of Forests,<br>
Talacauvery Wildlife Sanctuary,<br>
Karnataka Forest Department,<br> 
Madikeri - 571 201<br>
Kodagu District.</td>
<td VALIGN="top">08272-228019</td>
<td VALIGN="top">08272-228019</td>
<td VALIGN="top">dcfwlmadikeri@yahoo.com</td> 	
</tr><tr>
<td VALIGN="top">Pushpagiri Wildlife Sanctuary</td>
<td VALIGN="top">Deputy Conservator of Forests,<br>
Pushpagiri Wildlife Sanctuary,<br>
Karnataka Forest Department,<br> 
Madikeri – 571201<br>
Kodagu District.</td>
<td VALIGN="top">08272-228019</td>
<td VALIGN="top">08272-228019</td>
<td VALIGN="top">dcfwlmadikeri@yahoo.com</td> 	
</tr><tr>
<td VALIGN="top">Kudremukh National Park</td>
<td VALIGN="top">Deputy Conservator of Forests,<br>
Kudremukh Wildlife Division,<br>
Karnataka Forest Department, <br>
Karkala – 574 104<br>
Udupi District.</td>
<td VALIGN="top">08258-21183</td>
<td VALIGN="top">08258-21183</td>
<td VALIGN="top">to be updated</td> 	
</tr><tr>
<td VALIGN="top">Someshwara Wildlife Sanctuary</td>
<td VALIGN="top">Deputy Conservator of Forests,<br>
Kudremukh Wildlife Division,<br>
Karnataka Forest Department,<br> 
Karkala – 574 104<br>
Udupi District.</td>
<td VALIGN="top">08258-21183</td>
<td VALIGN="top">08258-21183</td>
<td VALIGN="top">dcfbhadra@sancharnet.in <br>
dcfbhadra@yahoo.com</td> 	
</tr><tr>
<td VALIGN="top">Bhadra Tiger Reserve</td>
<td VALIGN="top">Deputy Conservator of Forests,<br>
Bhadra Tiger Reserve,<br>
Karnataka Forest Department, <br>
Chickmagalur – 577 101<br>
Chickmagalur District.</td>
<td VALIGN="top">08262-234904</td>
<td VALIGN="top">08262-230032</td>
<td VALIGN="top">dcfbhadra@sancharnet.in <br>
dcfbhadra@yahoo.com</td> 
</tr><tr>
<td VALIGN="top">Mookambika Wildlife Sanctuary</td>
<td VALIGN="top">Deputy Conservator of Forests,<br>
Kudremukh Wildlife Division,<br>
Karnataka Forest Department, <br>
Karkala - 574 104<br>
Udupi District.</td>
<td VALIGN="top">08258-21183</td>
<td VALIGN="top">08258-21183</td>
<td VALIGN="top">to be updated</td> 	
</tr><tr>
<td VALIGN="top">Shettihalli Wildlife Sanctuary</td>
<td VALIGN="top">Deputy Conservator of Forests,<br>
Wildlife Division,<br>
Karnataka Forest Department, <br>
D.C. Office Compound,<br>
Shimoga - 577 201<br>
Shimoga District.</td>
<td VALIGN="top">08182-222983</td>
<td VALIGN="top">08182-221983</td>
<td VALIGN="top">dcfwl_smg@hotmail.com</td> 	
</tr><tr>
<td VALIGN="top">Sharavathi Valley Wildlife Sanctuary</td>
<td VALIGN="top">Deputy Conservator of Forests,<br>
Wildlife Division,<br>
Karnataka Forest Department, <br>
D.C. Office Compound,<br>
Shimoga - 577 201<br>
Shimoga District.</td>
<td VALIGN="top">08182-222983</td>
<td VALIGN="top">08182-221983</td>
<td VALIGN="top">dcfwl_smg@hotmail.com</td> 	
</tr><tr>
<td VALIGN="top">Anshi National Park</td>
<td VALIGN="top">Deputy Conservator of Forests,<br>
Dandeli Wildlife Division,<br>
Karnataka Forest Department, <br>
Dandeli - 581325<br>
Uttar Kannada District.</td><br>
<td VALIGN="top">08284-231585</td>
<td VALIGN="top">08284-232981</td>
<td VALIGN="top">dcfwldandeli@rediffmail.com</td> 	
</tr><tr>
<td VALIGN="top">Dandeli Wildlife Sanctuary</td>
<td VALIGN="top">Deputy Conservator of Forests,<br>
Dandeli Wildlife Division,<br>
Karnataka Forest Department, <br>
Dandeli - 581 325<br>
Uttar Kannada District.</td>
<td VALIGN="top">08284-231585</td>
<td VALIGN="top">08284-232981</td>
<td VALIGN="top">dcfwldandeli@rediffmail.com</td> 	
</tr>
</table>                     
</ul>
</td>
<td VALIGN="top">
</tr>
</table>
</div>
</div>

<!--<a title="Conservation Threats Poster" rel="facebox" href="../images/poster.jpg" target="_blank">
<img title="Conservation Threats Poster" src="../images/funeral_tn.jpg"/></a><br>-->

