<div id="Faq-user-display" class="rounded-10">
<h2>Spread your Support</h2>
<br>
<h5>The site depends on people who come across threats and contribute the information.Hence its important to get many people to be aware of the site.Help Us.</h5>
<br>
<div id="badge-wrapper" class="rounded-10">
      <ul id="submenu">
        <li>
          <div class="slidecaption">
            <b>Badges</b> - If you have a blog/website and want to support Conservationthreats.org, copy and paste the below html snippet into your website. Alternately you could refer the image below and add a link your blog. Champion the effort and help wildlife.
          </div>
          <a href="http://conservationthreats.org" target="_blank"><%= image_tag("support_conservation.png")%></a>
          <textarea class="badge" target="_blank" >&lt;a href="http://conservationthreats.org"&gt;&lt;img src="http://conservationthreats.org/images/support_conservation.png" alt="I support conservationthreats.org. Report a threat and save wildlife."&gt;&lt;/a&gt;</textarea>
        </li>
      </ul>
	
    </div>
<div id="badge-wrapper1" class="rounded-10">
<b>Poster - </b>Posters are a great way to spread awareness and to get people to join us.<a2> Coming Soon are Conservationthreats.org posters....</a2><br>
   
</div>
</div>

<!--<a title="Conservation Threats Poster" rel="facebox" href="../images/poster.jpg" target="_blank">
<img title="Conservation Threats Poster" src="../images/funeral_tn.jpg"/></a><br>-->

