<table> 
  <tr> 
    <td> 
      <strong>Title:</strong>&nbsp;
    </td>
    <td>
      <%= h @report.title %><br /> 
    </td>
  </tr>
  <tr>
  <td>
  <strong>Description:</strong>&nbsp;
  </td>
  <td>
  <%=h @report.description %>
  </td>
  </tr>
</table>
