<table> 
  <tr> 
    <td> 
      <strong>Title:</strong>&nbsp;
    </td>
    <td>
      <%= h @report.title %><br /> 
    </td>
  </tr>
  <tr>
    <td>
      <strong>Description:</strong>&nbsp;
    </td>
    <td>
      <%=h @report.description %>
    </td>
  </tr>
  <tr>
    <td><strong>Category</strong>&nbsp;</td>
    <td><%=h @report.category.name%></td>
  </tr>
  <tr>
    <td><strong>Location</strong>&nbsp;</td>
    <td><%=h @report.location.name%></td>
  </tr>
</table>
